body {
    background-color: cadetblue;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
  color: dimgray;
}



p1 {
  border: 2px solid powderblue;
  font-size: medium;
}

h2 {
  font-size: xx-large;
  color:sienna;
}

a:link {
  color: red;
}
  
/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: mediumvioletred;
}

/* selected link */
a:active {
  color: midnightblue;
}

p.intro {
  background-color: pink;
}

#relation {
  color: red;
  text-align: center;
}

div {
  background-color:#f0e68c;
  }
  div p {
    background-color: ivory;
  }

#title {
  font-size:3cm;
}

.button {
  font: bold 14px Georgia;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.score {
  font: bold 20px Georgia;
  background-color: white;
}

.generalbutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}